body {
	margin: 0;
	padding: 0;
}
#base {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
canvas {
	margin: 0;
	padding: 0;
	--webkit-transform: scale3d(2, 2, 0) translate3d(80px, 115px, 0);
}