body {
	margin: 0;
	padding: 0;
}
#base {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
canvas {
	margin: 0;
	left: 0;
	padding: 0;
	position: absolute;
	top: 0;
	transition: all 600ms ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
canvas.slideUp {
	transform: translate3d(0, -460px, 0);
	-webkit-transform: translate3d(0, -460px, 0);
}